/* assets/app/leftsidebar/middlesidebar.css */

.middle-sidebar {
  padding: 1rem 0.5rem;
  background-color: var(--color-bg-page); /* Updated to match Top/Bottom Sidebar */
  color: var(--color-text-content);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px 0;
  cursor: pointer;
}
